<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

    <description>Registry Services</description>
    <display-name>Registry Services</display-name>
    <distributable/>

    <servlet>
        <servlet-name>Registry</servlet-name>
        <servlet-class>gov.nih.ncgc.bardplugin.Registry</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registry</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>

    <!--<servlet>-->
        <!--<description>Registry Plugin Services</description>-->
        <!--<display-name>Registry Plugin Services</display-name>-->
        <!--<servlet-name>RegistryPluginServletAdaptor</servlet-name>-->
        <!--<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>-->
        <!--&lt;!&ndash; this must always be after init-param !&ndash;&gt;-->
        <!--<load-on-startup>1</load-on-startup>-->
    <!--</servlet>-->

</web-app>
