<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <description>WhichCyp Plugin Services</description>
    <display-name>WhichCyp Plugin Services</display-name>
    <distributable/>

    <listener>
        <listener-class>gov.nih.ncgc.bardplugin.ProteinClassInit</listener-class>
    </listener>

    <context-param>
        <param-name>db.url</param-name>
        <param-value>jdbc:h2:${catalina.home}/webapps/bardplugin_protclass/WEB-INF/pantherdb</param-value>
    </context-param>


    <servlet>
        <description>WhichCyp Plugin Services</description>
        <display-name>WhichCyp Plugin Services</display-name>
        <servlet-name>WhichCypPluginServletAdaptor</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <!-- this must always be after init-param !-->
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>WhichCypPluginServletAdaptor</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>
