<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <description>InitDemo Plugin Services</description>
    <display-name>InitDemo Plugin Services</display-name>
    <distributable/>

    <servlet>
        <description>InitDemo Plugin Services</description>
        <display-name>InitDemo Plugin Services</display-name>
        <servlet-name>InitDemoPluginServletAdaptor</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <!-- this must always be after init-param !-->
        <load-on-startup>1</load-on-startup>
    </servlet>

    <listener>
        <listener-class>gov.nih.ncgc.bardplugin.InitDemo</listener-class>
    </listener>

    <servlet-mapping>
        <servlet-name>InitDemoPluginServletAdaptor</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>
